* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #2c3e50;
    color: white;
    padding: 40px;

}

nav a {
    color: white;
    text-decoration: none;
}

section:first-child {
    text-align: center;
}

section:first-child img {
    width: auto;
    height: 300px;
}

section:first-child h2 {
    margin: 12px;
}

section:last-child div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

section:last-child img {
    width: 100%;
    border-radius: 10px;
}

section:last-child {
    background-color: #2c3e50;
    padding: 10px;
}

section:last-child h2 {
    margin: 12px;
    text-align: center;
    color: white;
}